
header img{
  float: left;
}
header h2{
  font-size: 170%;
  color: #800000;
  text-indent: 30px;
}
header h3{
  font-size: 130%;
  font-style: italic;
  text-indent: 30px;
}
main h1{
  font-size: 150%;
}
main h2{
  font-size: 130%;
  color: #800000;
}
main h3{
  font-size: 105%;
}
footer p{
  text-align: center;
}
a:hover{
  font-style: italic;
}
.shadow{
  text-shadow: 2px 2px #800000;
}