
.nav-list{
  display: flex;
  list-style-type: none;
  background-color: blue;
}
a{
  padding: 12px 16px;
  display: block;
  text-decoration: none;
  color: white;
  border-right:1px white solid ;
}
.dropdown-menu{
  position: relative;
}
.dropdown-item{
  position: absolute;
  list-style-type: none;
  padding: 0px;
  width: 100px;
  display: none;
  z-index: 1;
}

.dropdown-item a{
  background-color: blue;
}
a:hover{
  color: red;
  background-color: yellowgreen;
}

.dropdown-menu:hover .dropdown-item{
  display: block;
}
/* div{
  position: relative/absolute;
  top/left/right/bottom;

  display: flex;
  justify-content: ;
  align-items: ;

  margin: ;
  padding: ;
  
  width: ;
  height: ;

  border: ;
  border-radius: 
  box-shadow: ;
  
} */