/* *{
  padding: 0px;
  margin: 0px;
} */
body{
  width: 800px;
  font-family: Roboto;
  border: 3px solid;
  border-color: #800000;
}
header{
  background-image: linear-gradient(45deg, #e7d16b, white, #e7d16b);
  border-bottom: #800000 solid 3px;
  display: flex;
}
header img{
  padding: 25px 0px 0px 25px;
}
footer{
  background-color: #800000;
  padding: 0.01em 0;
}
header h2{
  font-size: 170%;
  color: #800000;
  text-indent: 30px;
}
header h3{
  font-size: 130%;
  font-style: italic;
  text-indent: 30px;
  margin-top: -25px;
}
main{
  display: flex;
  padding: 0px 30px 10px 30px;
}
main h1{
  font-size: 150%;
}
main h2{
  font-size: 130%;
  color: #800000;
}
.sidebar h2{
  margin: 10px 0px -10px 0px;
}
main h3{
  font-size: 105%;
}
footer p{
  color: white;
  text-align: center;
}
.shadow{
  text-shadow: 2px 2px #800000;
}
blockquote{
  font-style: italic;
  padding: 0em 2em 0em 2em;
}
li{
  margin-left: -20px;
}
main img{
  margin-top: -12px;
}
.container{
  width: calc(100% - 200px);
}
.sidebar{
  width: 200px;
}
.maincontent{
  padding: 0px 0px 10px 0px;
  /* border-top: 2px #800000 solid; */
  border-bottom: 2px #800000 solid;
}
.readmore{
  display: flex;
}
h4{
  margin: 0px 0px 15px 0px;
}
.container h2{
  font-size: 160%;
  margin: 10px 0px 0px 0px;
}
.container h1{
  margin: 0px 0px 10px 0px;
}
.infor h3{
  margin: 3px 0px 0px 0px;
}
.infor p{
  margin: 3px 0px 4px 0px;
}
.ticket h2{
  margin: 10px 0px -10px 0px;
}
.ticket li{
  list-style-type: circle;
}
.content{
  display: flex;
}
.infor{
  height: 300px;
  width: 400px;
}
.imgaes{
  width: calc(100% - 150px);
  position: relative;
  margin-left: 10px;
  border-bottom: 1px black solid;
  margin-bottom: 40px;
}
.imgaes img{
  height: 225px;
  width: 98%;
  position: absolute;
  top: 15px;
  left: 0px;
  border: #000000 2px solid;
}
.imgaes p{
  position: absolute;
  top: 220px;
  left: 0px;
}
.ftmain{
  margin-top: -30px;
}
a:hover{
  font-style: italic;
  color: purple;
}
nav{
  margin-top: -16px;
}
.nav-list{
  position: relative;
  display: flex;
  background-color: #800000;
  list-style-type: none;
}
.nav-item{
  padding: 10px 0px;
  display: block;
  width: calc(800px / 5);
  text-align: center;
  text-decoration: none;
  color: white;
}
.nav-list a:hover{
  color: white;
  text-decoration: underline;
  font-style:italic;
}
.dropdown-menu{
  position: relative;
}
.dropdown-item{
  position: absolute;
  display: none;
  list-style-type: none;
  padding: 0px;
  width: 160px;
  background-color: #800000;
  z-index: 1;
}
.dropdown-menu:hover .dropdown-item{
  display: block;
}
.dropdown-item li{
  margin: 0px;
}