table, td, th{
  border: 1px solid black;
}
table{
  border-collapse: collapse;
}
td, th{
  padding: 10px;
}
tr:nth-child(2n){
  background-color: aqua;
}
tr{
  border-bottom: solid 2px red;
}
tr:last-child{
  border-bottom: none;
}
.content{
  border-bottom: olive 2px solid;
}
.content:last-child{
  border: none;
}