
body{
  width: 800px;
  font-family: Roboto;
  display: grid;
  border: 3px solid;
  border-color: #800000;
}
header{
  background-image: linear-gradient(45deg, #e7d16b, white, #e7d16b);
  border-bottom: #800000 solid 3px;
}
header img{
  padding: 35px 0px 0px 30px;
}
footer{
  background-color: #800000;
}
.HeaderMain{
  display: flex;
}
header h2{
  font-size: 170%;
  color: #800000;
  text-indent: 30px;
}
header h3{
  margin-top: -25px;
  font-size: 130%;
  font-style: italic;
  text-indent: 30px;
}
main{
  display: flex;
  padding: 0px 30px 10px 30px;
}
main h1{
  font-size: 150%;
}
main h2{
  font-size: 130%;
  color: #800000;
}
.sidebar h2{
  margin: 10px 0px -10px 0px;
}
main h3{
  font-size: 105%;
}
footer p{
  color: white;
  text-align: center;
}
.shadow{
  text-shadow: 2px 2px #800000;
}
blockquote{
  font-style: italic;
  padding: 0em 2em 0em 2em;
}
li{
  margin-left: -20px;
}
main img{
  margin-top: -12px;
}
.container{
  width: calc(100% - 200px);
}
.sidebar{
  width: 200px;
}
.imgaes img{
  height: 200px;
  width: auto;
  position: absolute;
  top: 20px;
  right: 30px;
  border: #000000 2px solid;
}
a:hover{
  font-style: italic;
  color: purple;
}
nav{
  margin-top: -16px;
}
.nav-list{
  position: relative;
  display: flex;
  background-color: #800000;
  list-style-type: none;
}
.nav-item{
  padding: 10px 0px;
  display: block;
  width: calc(800px / 5);
  text-align: center;
  text-decoration: none;
  color: white;
}
.nav-list a:hover{
  color: white;
  text-decoration: underline;
  font-style:italic;
}
.dropdown-menu{
  position: relative;
}
.dropdown-item{
  position: absolute;
  display: none;
  list-style-type: none;
  padding: 0px;
  width: 160px;
  background-color: #800000;
}
.dropdown-menu:hover .dropdown-item{
  display: block;
}
.dropdown-item li{
  margin: 0px;
}
table{
  border-collapse: collapse;
}
th, td{
  padding: 5px;
}
tr:nth-child(4n){
  border-top: solid 1px red;
}
tr:last-child{
  border-top: solid 1px red;
  border-bottom: solid 1px red;
}
tr:first-child{
  border-top: solid 1px red;
  border-bottom: solid 1px red;
}
.foot{
  text-align: right;
}