@import "https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css";
*{
  box-sizing: border-box;
}
.search{
  position: relative;
  width: 174px;
}
.fa-search{
  position: absolute;
  top: 50%;
  right: -7px;
  transform: translate(0,-50%);
  font-size: 170%;
  background-color:rgba(0, 0, 0, 0.1);
}